/*** REFERENCE:
-font/police: Montserrat

-breakpoint desktop: 1024
-tablet: 768
-breakpoint mobile: < 768px
-code by Molly Felts Vallin
***/

/* font import/source link */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
}

html {
  font-size: calc(18px + 0.390625vw);
  background-color: #001d2d;
}

body {
  /* The image used */
  background-image: url("./background.webp");

  /* Full height */
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

main {
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 100px 20px 0;
}


h1,
h2,
h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

/* text styles - generic */
h1 {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1em;
}

.container_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 10px;
}

.logo {
  width: 30%;
  margin-bottom: 40px;
}

.logo img {
  width: 100%;
}

.container_links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;

  position: relative;
  bottom: 30px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 30px;

  margin-bottom: 40px;
}

.link {
  max-width: 80px;
}

.link img {
  width: 100%;
}

.copywrite {
  font-size: 0.6em;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transform: rotate(-90deg) translate(100%, 0);
  transform-origin: right bottom;
}


/* MEDIA QUERIES - responsive design */

@media only screen and (max-width: 1023) {

  html {
    font-size: calc(16px + 0.390625vw);
  }

}

@media only screen and (max-width: 767) {

  html {
    font-size: calc(14px + 0.390625vw);
  }

  main {
    padding: 100px 40px 0;
  }

  .logo {
    min-width: 100px;
  }

}

@media only screen and (max-width: 425) and (min-width: 320) {

  main {
    min-width: 300px;
    padding: 60px 10px 0;
  }



}